{% include 'base.html' %}

{% block content %}
<div class="app-content">
					<div class="side-app">

					
						<div class="page-header">

							
						<div>
							<h1 class="page-title">All Archived Serials</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Archived</a></li>
								<li class="breadcrumb-item active" aria-current="page">Archived Serials Table</li>
							</ol>
						</div>

											<div class="d-flex  ms-auto header-right-icons header-search-icon">
								<div class="dropdown d-sm-flex">
									<a href="#" class="nav-link icon" data-bs-toggle="dropdown">
										<i class="fe fe-search"></i>
									</a>
									<div class="dropdown-menu header-search dropdown-menu-start">
										<div class="input-group w-100 p-2">
											<input type="text" class="form-control " placeholder="Search....">
											<div class=" ">
												<button type="button" class="btn btn-primary ">
													<i class="fa fa-search" aria-hidden="true"></i>
												</button>
											</div>
										</div>
									</div>
								</div><!-- SEARCH -->
								<div class="dropdown d-md-flex">
									<a class="nav-link icon full-screen-link nav-link-bg">
										<i class="fe fe-maximize fullscreen-button"></i>
									</a>
								</div><!-- FULL-SCREEN -->
								
								<div class="dropdown profile-1">
									<a href="#" data-bs-toggle="dropdown" class="nav-link pe-2 leading-none d-flex">
										<span>
											<img src="{{user.profile.image.url}}" alt="profile-user" class="avatar  profile-user brround cover-image">
										</span>
									</a>
									<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<div class="drop-heading">
											<div class="text-center">
												<h5 class="text-dark mb-0">{{user.first_name}} {{user.last_name}}</h5>
												<small class="text-muted">{{user.username}}</small>
											</div>
										</div>
										
										<div class="dropdown-divider"></div>
										
										<a class="dropdown-item" href="/logout">
											<i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
										</a>
									</div>
								</div>
								<div class="dropdown d-md-flex header-settings">
									<a href="#" class="nav-link icon " data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
										<i class="fe fe-align-right"></i>
									</a>
								</div><!-- SIDE-MENU -->
							</div>
						</div>
						

							<!-- ROW-2 -->
							<div class="row">
								<div class="col-md-12 col-lg-12">
									<div class="card">
										<div class="card-header" style="display:block;">
											<h3 class="card-title">Archived </h3>

									

										<!-- 	<button style="margin-left:82%;margin-top: -100px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#smallModal">Export Serial</button> -->
										</div>
										<div class="card-body">
											<div class="table-responsive">
												

												<table id="example1" class="table table-striped table-bordered w-100 text-nowrap display">
													<thead>
														<tr>
															<!-- <th><input style="boder: nono; position: inherit;
    opacity: 3;" class="custom-control-input" id="option-all" onchange="checkAll(this)" type="checkbox"> <label class="custom-control-label" for="option-all"></label></th>
 -->
    <th><div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
															<input class="custom-control-input"  id="option-all" onchange="checkAll(this)" type="checkbox"> <label class="custom-control-label"  for="option-all"></label>
														</div></th>
															<!-- 	<th>Serial ID</th> -->
															<!-- <th>Assigned Users</th> -->
															
															<th>Serial Number</th>
															<th>Archived by</th> 
															<th>Date Created</th>
															<th>Time Created</th>
															<!-- <th>Edit</th> -->
															<!-- <th>Delete</th> -->
														</tr>
													</thead>
													<tbody>
														{% csrf_token %}
														{% for i in data %}
														<tr id="{{i.id}}">
															
															<td class="align-middle text-center">
																
																	<input style="boder: nono; position: inherit;
    z-index: -1;
    opacity: 3;" class="custom-control-input" name="stock_id[]" id="delete_stock" value="{{i.id}}" type="checkbox">
																
															</td>
															<!-- <td><input type="text" class="form-control" name="row-1-age" disabled placeholder="{{i.id}}"></td> -->
													<!-- 		<td>{{i.user.username}}</td> -->
															

															<td><input type="text" class="form-control"  name="row-1-position" disabled placeholder="{{i.serial_no}}" ></td>
															<td><input type="text" class="form-control"  name="row-1-position" disabled placeholder="{{i.staff}}" ></td>
															{% comment %} <td><select size="1" id="row-1-office" name="row-1-office" class="form-control ">
																<option value="Edinburgh" selected="selected">
																	Inactive
																</option>
																<option value="London">
																	Active
																</option>
																<option value="New York">
																	Archived
																</option>
															
															</select></td>  {% endcomment %}
															<td><input type="text" class="form-control"  name="row-1-age" placeholder="{{i.date_created}}" disabled></td>
															<td><input type="text" class="form-control" name="row-1-position" placeholder="{{i.time_created}}" disabled></td>
															{% comment %} <td><a href="#" class="btn btn-sm btn-danger">{{i.winner}}</a></td> {% endcomment %}
											
														<!-- <td class="w-1"><a href="/"><button type="button" class="btn btn-icon  btn-primary"><i class="fa fa-flaticon"></i></button></a></td> -->

												<!-- 		<td class="w-1"><a href="/delete_Archived/{{ i.id }}"><button type="button" onClick='return confirm("Once deleted, you will not be able to recover this Serial number!"+"{{i.serial_no}}",);' class="btn btn-icon  btn-danger"><i class="fa fa-trash-o"></i></button></a></td> -->

														</tr>
														{% endfor %}
													</tbody>
													<tfoot >
														<tr>
														<th class="border-bottom-0"><div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
															<input class="custom-control-input"  id="option-all" onchange="checkAll(this)" type="checkbox"> <label class="custom-control-label"  for="option-all"></label>
														</div></th>
														<!-- <th class="border-bottom-0">Serial ID</th> -->
															<!-- <th class="border-bottom-0">Assigned Users</th> -->
															
															<th class="border-bottom-0">Serial Number</th>
															<th class="border-bottom-0">Archived by</th>
															<th class="border-bottom-0">Date Created</th>
															<th class="border-bottom-0">Time Created</th>
															
													<!-- 		<th class="border-bottom-0">Edit</th> -->
															<!-- <th class="border-bottom-0">Delete</th> -->
														</tr>
													</tfoot>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ROW-2 CLOSED-->
	
                
                    </div>
				</div>
				<!-- SMALL MODAL -->
<div id="smallModal" class="modal fade">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Export</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Choose your Export Methode</p>
			</div><!-- MODAL-BODY -->
			<div class="modal-footer">
				
														
				<a href="{% url 'export-excel' %}"><button type="button" class="btn btn-primary">Export Excel</button></a>
				<a href="{% url 'export-csv' %}"><button type="button" class="btn btn-secondary" >Export CSV</button></a>
			</div>
		</div>
	</div><!-- MODAL-DIALOG -->
</div>

<script>
	$(document).ready(function(){
		$('#delete_btn').click(function(){
			if(confirm("Are you sure you wont to delete this serials number")){
				var id =[];
				var csrf = $('input[name=csrfmiddlewaretoken').val();
				$(':checkbox:checked').each(function(i){
					id[i]=$(this).val()
				})
				if(id.length === 0){
					alert("please select serials to delete")
				}else{
					console.log(id)
					$.ajax({
						url:".",
						method:"POST",
						data:{
							id,
							csrfmiddlewaretoken:csrf
						},
						success:function(response){
							for(var i=0; i < id.length; i++){
								$('tr#'+id[i]+'').css('background-color','#ccc');
								$('tr#'+id[i]+'').fadeOut('slow');
							}
						}
					})
					
				}	
			}
		})
	})


	var checkboxes = document.querySelectorAll("input[type = 'checkbox']");
	function checkAll(myCheckbox){
	    if(myCheckbox.checked == true){
	        checkboxes.forEach(function(checkbox){
	            checkbox.checked = true;
	        });
	    }
	    else{
	        checkboxes.forEach(function(checkbox){
	            checkbox.checked = false;
	        });
	    }
	}
</script>
<!-- SMALL MODAL CLOSED -->
				{% endblock content %}