{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'all/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'all/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'all/css/remixicon.css' %}">
<link rel="stylesheet" href="{% static 'all/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'all/css/swiper-min.css' %}">
<link rel="stylesheet" href="{% static 'all/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'all/css/fancybox.css' %}">
<link rel="stylesheet" href="{% static 'all/css/odometer.css' %}">
<link rel="stylesheet" href="{% static 'all/css/aos.css' %}">
<link rel="stylesheet" href="{% static 'all/css/style.css' %}">
<link rel="stylesheet" href="{% static 'all/css/responsive.css' %}">
<title>BUENO -  INDUSTRIES LIMITED</title>
<link rel="icon" type="image/png" href="{% static 'all/img/favicon.png' %}">
<style type="text/css">
.btn.style1, .btn.style3, .btn.style5, .btn.style6 {
    background-color: #19467b;
}
.btn.style1:hover, .btn.style3:hover, .btn.style5:hover, .btn.style6:hover {
    background-color: #209f2e;
}
.btn.style2, .btn.style4, .btn.style5 {
    background-color: #209f2e;
}
</style>
</head>
<body>

<div class="preloader js-preloader">
<img src="{% static 'all/img/preloader.gif' %}" alt="Image">
</div>


<div class="page-wrapper">

<header class="header-wrap style2">
<div class="container">
<div class="header-top">
<div class="close-header-top xl-none">
<button type="button">
<i class="ri-close-line"></i>
</button>
</div>
<div class="row align-items-center">
<div class="col-xl-8 col-lg-12">
<div class="header-top-left">
<div class="contact-item">
<span> <i class="flaticon-call-1"></i></span>
<a href="tel:+234-01-4545562 ">+234-01-4545562 </a>
</div>
<div class="contact-item">
<span><i class="flaticon-envelope"></i></span>
<a href="https://sales@bueno.com.ng/cdn-cgi/l/email-protection#046c6168686b4463717e612a676b69"><span class="__cf_email__" data-cfemail="a0c8c5cccccfe0c7d5dac58ec3cfcd">sales@bueno.com.ng</span></a>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-12">
<div class="header-top-right">

<ul class="social-profile style2 list-style">
<li>
<a target="_blank" href="https://facebook.com/">
<i class="ri-facebook-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://twitter.com/">
<i class="ri-twitter-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://linkedin.com/">
<i class="ri-linkedin-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://instagram.com/">
<i class="ri-pinterest-fill"></i>
</a>
</li>
</ul>
</div>
<a href="/dashboard" class="btn style3 xl-none">Dashbord <i class="flaticon-right-arrow"></i></a>
</div>
</div>
</div>
<div class="header-bottom">
<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="index.html">
<img src="{% static 'all/img/logo.png' %}" alt="logo">
</a>
<div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
<div class="menu-close xl-none">
<a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
</div>
<ul class="navbar-nav ms-auto">
<li class="nav-item">
<a href="/" class="nav-link active">
Home
</a>

</li>
<li class="nav-item">
<a href="#about" class="nav-link">
 About Us
</a>
</li>
<li class="nav-item">
<a href="#service" class="nav-link">
Services
</a>
</li>
<li class="nav-item">
<a href="#us" class="nav-link">
Why us
</a>
</li>
<li class="nav-item">
<a href="#team" class="nav-link">
Team
<!-- <i class="ri-arrow-down-s-fill"></i> -->
</a>

</li>

<li class="nav-item">
<a href="#future" class="nav-link">
Futures
<!-- <i class="ri-arrow-down-s-fill"></i> -->
</a>

</li>

<li class="nav-item">
<a href="#testimonials" class="nav-link">
testimonials
<!-- <i class="ri-arrow-down-s-fill"></i> -->
</a>

</li>

<li class="nav-item">
<a href="#contact" class="nav-link">Contact Us</a>
</li>
</ul>
<div class="others-options  lg-none">
<div class="option-item">
<button class="searchbtn" type="button">
<i class="flaticon-search-1"></i>
</button>
</div>
<div class="option-item">
<a href="/dashboard" class="btn style3">Dashbord <i class="flaticon-right-arrow"></i></a>
</div>
</div>
</div>
</nav>
<div class="mobile-bar-wrap">
<div class="mobile-top-bar xl-none">
<span></span>
<span></span>
<span></span>
</div>
<button class="searchbtn xl-none" type="button">
<i class="flaticon-search-1"></i>
</button>
<div class="mobile-menu xl-none">
<a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
</div>
</div>
</div>
</div>
<div class="search-area">
<div class="container">
<button type="button" class="close-searchbox">
<i class="ri-close-line"></i>
</button>
<form action="#">
<div class="form-group">
<input type="search" placeholder="Search Here" autofocus>
</div>
</form>
</div>
</div>
</header>


<section class="hero-wrap style2 hero-bg-2 bg-f">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-lg-6">
<div class="hero-content">
<span data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">BUENO INDUSTRIES LIMITED</span>
<h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">We Are Always Here To assist You</h1>
<p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900">At Bueno Industries Limited, we ensure that our products meets International Standards, as we are fully equipped to effectively deliver value and exceed expectations.</p>
<div class="hero-btn">
<a href="project-one.html" class="btn style3">Download <i class="flaticon-right-arrow-1"></i></a>
<a href="" download="" class="btn style4">Download Guid <i class="flaticon-right-arrow-1"></i></a>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="hero-img-wrap">
<div class="hero-img-item">
<div class="swiper hero-img-slider">
<div class="swiper-wrapper">
<div class="swiper-slide">
<img src="{% static 'all/img/hero/hero-img-4.png' %}" alt="Image">
</div>
<div class="swiper-slide">
<img src="{% static 'all/img/hero/hero-img-3.png' %}" alt="Image">
</div>
<div class="swiper-slide">
<img src="{% static 'all/img/hero/hero-img-2.png' %}" alt="Image">
</div>
</div>
</div>
</div>
<div class="hero-img-item">
<div class="hero-bg-3 bg-f"></div>
</div>
</div>
</div>
</div>
<div class="row mt-25">
<div class="col-xl-3">
<div class="hero-promo-video bg-f">
<a class="play-now" href="#">
<i class="icon flaticon-play-button-arrowhead"></i>
<span class="ripple"></span>
</a>
</div>
</div>
<div class="col-xl-9">
<div class="hero-feature-wrap">
<div class="feature-item">
<span class="feature-icon">
<i class="flaticon-friend"></i>
</span>
<div class="feature-info">
<h4>Friendly Services</h4>
<p>we give the confortable service your need cause we have you in heart.</p>
</div>
</div>
<div class="feature-item">
<span class="feature-icon">
<i class="flaticon-safe"></i>
</span>
<div class="feature-info">
<h4>Safe Payment</h4>
<p>After safe payment in one of our organisation send details to us.</p>
</div>
</div>
<div class="feature-item">
<span class="feature-icon">
<i class="flaticon-gardening-2"></i>
</span>
<div class="feature-info">
<h4>Smart Gardening</h4>
<p>How step by step PDF and DOC file is available above to download.</p>
</div>
</div>
</div>
</div>
</div>
<div class="row mt-30">
<div class="col-md-12 px-0">
<div class="hero-img-slider-btn">
<div class="hero-img-prev"><i class="ri-arrow-left-s-fill"></i></div>
<div class="hero-img-next"><i class="ri-arrow-right-s-fill"></i></div>
</div>
<div class="hero-img-pagination"></div>
</div>
</div>
</div>
</section>


<section class="about-wrap style2 ptb-100" id="about">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-lg-6">
<div class="about-img-wrap">
<div class="about-bg-3 bg-f"></div>
<div class="about-bg-4 bg-f"></div>
</div>
</div>
<div class="col-lg-6">
<div class="about-content">
<div class="content-title style2 mb-30">
<span>ABOUT US</span>
<h2>BUENO INDUSTRIES LIMITED</h2>
<p>is a Powerhouse International Limited wholly owned indigenous company. Our areas of business interests include Gas, Energy, Power and Manufacturing and Distribution of related products.</p><p> The company was incorporated to provide quality service packages for Nigerians, foreign individuals and investors in the listed sectors of the economy.</p>
</div>
<div class="feature-item-wrap">
<div class="feature-item">
<div class="feature-icon">
<i class="flaticon-target"></i>
</div>
<div class="feature-text">
<h3>Our Mission</h3>
<p>
We strive to be the best in our field by employing the right people to work in a creative, fair and balanced work environment.</p>
</div>
</div>

<div class="feature-item">
<div class="feature-icon">
<i class="flaticon-target"></i>
</div>
<div class="feature-text">
<h3>Our Relationship</h3>
<p>We have established working relationships with multinational corporations, indigenous blue-chip companies and conglomerates as we seek to break new grounds and challenge conventional limits.</p>
</div>
</div>

<div class="feature-item">
<div class="feature-icon">
<i class="flaticon-vision"></i>
</div>
<div class="feature-text">
<h3>Our Passion</h3>
<p>We are passionate about our clients’ successes and comfort by proffering quality solutions and support to meet their needs.</p>
</div>
</div>
</div>
<!-- <a href="about.html" class="btn style3">Explore More <i class="flaticon-right-arrow-1"></i></a> -->
</div>
</div>
</div>
</div>
</section>


<section class="service-wrap ptb-100 bg-spring-wood" id="service">
<img src="{% static 'all/img/tub-8.png' %}" alt="Image" class="section-img style2">
<div class="container">
<div class="row mb-50 align-items-center">
<div class="col-xl-7 col-lg-7">
<div class="section-title style2">
<span>WHAT WE DO</span>
<h2>Explore Our Best Offer</h2>
</div>
</div>
<div class="col-lg-5">
<ul class="nav nav-tabs service-tablist" role="tablist">
<li class="nav-item">
<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab_1" type="button" role="tab">Distribution</button>
</li>
<li class="nav-item">
<button class="nav-link " data-bs-toggle="tab" data-bs-target="#tab_2" type="button" role="tab">Manufacturing</button>
</li>
</ul>
</div>
</div>
<div class="tab-content product-tab-content">
<div class="tab-pane fade show active" id="tab_1" role="tabpanel">
<div class="service-slider-one owl-carousel">
<div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-1.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-landscape"></i></span>
Gas Cylinder
</a>
</h3>
<!-- <p>Gas cylinder, just visit the website of your LPG provider (HP, Bharat Gas or Indane) and register yourself. Once you have done so, you will see an option to book a refill online. Follow the instructions and make your payment online or cash on delivery.</p> -->
<!-- <a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
</div>
</div>
<div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-2.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-plant-1"></i></span>
Energy
</a>
</h3>
<!-- <p>Lorem ipsum dolor sit amet adip elitionus repellat tetur delni vel quam aliq earum explibo dolor eme fugiat enim illumon.</p> -->
<!-- <a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
</div>
</div>
<div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-3.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-park"></i></span>
Power
</a>
</h3>
<!-- <p>Lorem ipsum dolor sit amet adip elitionus repellat tetur delni vel quam aliq earum explibo dolor eme fugiat enim illumon.</p> -->
<!-- <a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
</div>
</div>
<div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-4.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-watering-can"></i></span>
Packaged
</a>
</h3>
<!-- <p>Lorem ipsum dolor sit amet adip elitionus repellat tetur delni vel quam aliq earum explibo dolor eme fugiat enim illumon.</p> -->
<!-- <a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
</div>
</div>
</div>
</div>
<div class="tab-pane fade" id="tab_2" role="tabpanel">
<div class="service-slider-one owl-carousel">
<div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-4.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-landscape"></i></span>
gas regulator
</a>
</h3>
<!-- <p>Lorem ipsum dolor sit amet adip elitionus repellat tetur delni vel quam aliq earum explibo dolor eme fugiat enim illumon.</p> -->
<!-- <a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
</div>
</div>
<!-- <div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-5.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-plant-1"></i></span>
Pruning Plants
</a>
</h3>
 <p>Lorem ipsum dolor sit amet adip elitionus repellat tetur delni vel quam aliq earum explibo dolor eme fugiat enim illumon.</p> -->
<!-- <a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
<!-- </div>
</div>  -->
<!-- <div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-6.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-park"></i></span>
Weed Control
</a>
</h3> -->
<!-- <p>Lorem ipsum dolor sit amet adip elitionus repellat tetur delni vel quam aliq earum explibo dolor eme fugiat enim illumon.</p> -->
<!-- <a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
<!-- </div>
</div> -->
<!-- <div class="service-card style2">
<div class="service-img">
<img src="{% static 'all/img/service/service-1.jpg' %}" alt="Image">
</div>
<div class="service-info">
<h3 class="service-title">
<a href="service-details.html">
<span><i class="flaticon-watering-can"></i></span>
Plant Watering
</a>
</h3>
<p>Lorem ipsum dolor sit amet adip elitionus repellat tetur delni vel quam aliq earum explibo dolor eme fugiat enim illumon.</p>
<a href="service-details.html" class="btn style4">Learn More <i class="flaticon-right-arrow-1"></i></a> -->
<!-- </div>
</div> --> 
</div>
</div>
</div>
</div>
</section>


<div class="counter-wrap counter-bg-1 bg-f pt-100 pb-75">
<div class="overlay bg-timber-green op-8"></div>
<div class="container">
<div class="counter-card-wrap style2">
<div class="counter-card">
<!-- <img src="{% static 'all/img/tub-5.png' %}" alt="Image" class="counter-card-shape"> -->
<div class="counter-text">
<h2 class="counter-num">
<span class="odometer" data-count="300"></span>
<span class="target">+</span>
</h2>
<p>Happy Clients</p>
</div>
</div>
<div class="counter-card">
<!-- <img src="{% static 'all/img/tub-5.png' %}" alt="Image" class="counter-card-shape"> -->
<div class="counter-text">
<h2 class="counter-num">
<span class="odometer" data-count="1500"></span>
<span class="target">+</span>
</h2>
<p>Work Done</p>
</div>
</div>
<div class="counter-card">
<!--  <img src="{% static 'all/img/tub-5.png' %}" alt="Image" class="counter-card-shape"> -->
<div class="counter-text">
<h2 class="counter-num">
<span class="odometer" data-count="12"></span>
<span class="target">+</span>
</h2>
<p>Years Experience </p>
</div>
</div>
<div class="counter-card">
<!-- <img src="{% static 'all/img/tub-5.png' %}" alt="Image" class="counter-card-shape"> -->
<div class="counter-text">
<h2 class="counter-num">
<span class="odometer" data-count="15"></span>
<span class="target">+</span>
</h2>
<p>Best Team</p>
</div>
</div>
</div>
</div>
</div>


<section class="why-choose-wrap style2 ptb-100" id="us">
<!-- <img src="{% static 'all/img/tub-11.png' %}" alt="Image" class="section-img style3"> -->
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-lg-6">
<div class="wh-content">
<div class="content-title style2 mb-30">
<span>WHY CHOOSE US</span>
<h2>BUENO INDUSTRIES LIMITED </h2>
<p>At Bueno Industries Limited, we ensure that our products meets International Standards, as we are fully equipped to effectively deliver value and exceed expectations.</p><p> The company was incorporated to provide quality service packages for Nigerians, foreign individuals and investors in the listed sectors of the economy.</p> <p>Bueno Industries is the owner of BUENO brand of LPG Regulators and is  currently working in close partnership with an Indian manufacturers of LPG Regulator products for the manufacturing/importation of BUENO brand of LPG Regulator and products into Nigeria, with future plan of developing local manufacturing facility for LPG regulators and other related products in a bid to provide competitive pricing for the products in the country..</p>
</div>
<div class="progess-bar-item">
<div class="single-skill">
<div class="circlechart" data-percentage="85">
<svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
<circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
<circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
<g class="circle-chart__info">
<text class="circle-chart__percent" x="17.9" y="20">85%</text>
</g>
</svg>
</div>
</div>
<div class="single-skill">
<div class="circlechart" data-percentage="70">
<svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
<circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
<circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
<g class="circle-chart__info">
<text class="circle-chart__percent" x="17.9" y="20">70%</text>
</g>
</svg>
 </div>
</div>
<div class="single-skill">
<div class="circlechart" data-percentage="90">
<svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
<circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
<circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
<g class="circle-chart__info">
<text class="circle-chart__percent" x="17.9" y="20">90%</text>
</g>
</svg>
</div>
</div>
<div class="single-skill">
<div class="circlechart" data-percentage="75">
<svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" xmlns="http://www.w3.org/2000/svg">
<circle class="circle-chart__background" cx="16.9" cy="16.9" r="15.9"></circle>
<circle class="circle-chart__circle" stroke-dasharray="92,100" cx="16.9" cy="16.9" r="15.9"></circle>
<g class="circle-chart__info">
<text class="circle-chart__percent" x="17.9" y="20">75%</text>
</g>
</svg>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="wh-img-wrap">
<div class="wh-bg-4 bg-f"></div>
</div>
</div>
</div>
</div>
</section>


<div class="member-wrap  bg-spring-wood ptb-100" id="team">
<!-- <img src="{% static 'all/img/tub-7.png' %}" alt="Image" class="section-img style4"> -->
<div class="container">
<div class="section-title style2 text-center mb-50">
<span>OUR TEAM</span>
<h2>OUR MANAGEMENT TEAM</h2>
</div>
<div class="member-slider-one owl-carousel">
<div class="member-card style2">
<div class="member-img">
<!-- <img src="{% static 'all/img/team/member-1.jpg' %}" alt="Image"> -->
</div>
<div class="member-info">
<h3>UCHE ONUAKALUSI (B.L, LL.B)</h3>
<span>CHIEF EXECUTIVE OFFICER/MANAGING DIRECTOR </span>
<ul class="social-profile style2 list-style">
<li><a target="_blank" href="https://facebook.com/"><i class="flaticon-facebook-logo"></i>
</a>
</li>
<li><a target="_blank" href="https://twitter.com/"> <i class="flaticon-twitter-1"></i>
</a></li>
<li><a target="_blank" href="https://pinterest.com/"> <i class="flaticon-instagram"></i> </a>
</li>
<li><a target="_blank" href="https://linkedin.com/"> <i class="flaticon-linkedin"></i> </a>
</li>
</ul>
</div>
</div>
<div class="member-card style2">
<div class="member-img">
<!-- <img src="{% static 'all/img/team/member-2.jpg' %}" alt="Image"> -->
</div>
<div class="member-info">
<h3>IFEDINIRU CHIBUEZE (B.Sc. MANAGEMENT)</h3>
<span>DIRECTOR OF OPERATIONS/ PROJECTS</span>
<ul class="social-profile style2 list-style">
<li><a target="_blank" href="https://facebook.com/"><i class="flaticon-facebook-logo"></i>
</a>
</li>
<li><a target="_blank" href="https://twitter.com/"> <i class="flaticon-twitter-1"></i>
</a></li>
<li><a target="_blank" href="https://pinterest.com/"> <i class="flaticon-instagram"></i> </a>
</li>
<li><a target="_blank" href="https://linkedin.com/"> <i class="flaticon-linkedin"></i> </a>
</li>
</ul>
</div>
</div>
<div class="member-card style2">
<div class="member-img">
<!-- <img src="{% static 'all/img/team/member-3.jpg' %}" alt="Image"> -->
</div>
<div class="member-info">
<h3>IHITE EMMANUEL</h3>
<span>HEAD OF LEGAL AND ADMINISTRATION</span>
<ul class="social-profile style2 list-style">
<li><a target="_blank" href="https://facebook.com/"><i class="flaticon-facebook-logo"></i>
</a>
</li>
<li><a target="_blank" href="https://twitter.com/"> <i class="flaticon-twitter-1"></i>
</a></li>
<li><a target="_blank" href="https://pinterest.com/"> <i class="flaticon-instagram"></i> </a>
</li>
<li><a target="_blank" href="https://linkedin.com/"> <i class="flaticon-linkedin"></i> </a>
</li>
</ul>
</div>
</div>
<div class="member-card style2">
<div class="member-img">
<!-- <img src="{% static 'all/img/team/member-5.jpg' %}" alt="Image"> -->
</div>
<div class="member-info">
 <h3>TAIWO ADESINA (BSc. Accounting)</h3>
<span>ACCOUNTANT</span>
<ul class="social-profile style2 list-style">
<li><a target="_blank" href="https://facebook.com/"><i class="flaticon-facebook-logo"></i>
</a>
</li>
<li><a target="_blank" href="https://twitter.com/"> <i class="flaticon-twitter-1"></i>
</a></li>
<li><a target="_blank" href="https://pinterest.com/"> <i class="flaticon-instagram"></i> </a>
</li>
<li><a target="_blank" href="https://linkedin.com/"> <i class="flaticon-linkedin"></i> </a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="promo-video-wrap promo-bg bg-f ptb-100">
<div class="overlay bg-timber-green op-8"></div>
<div class="container">
<div class="row">
<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
<div class="video-content">
<span class="video-icon"><i class="flaticon-gardening"></i></span>
<div class="section-title style2 text-center mb-50">
<span>WATCH VIDEO</span>
<h2 class="text-white">We Have 10+ Years Experience With High Level Cert On the Filled</h2>
</div>
<a class="play-now" href="#">
<i class="icon flaticon-play-button-arrowhead"></i>
<span class="ripple"></span>
</a>
</div>
</div>
</div>
</div>
</section>


<section class="testimonial-wrap style2 pt-100" id="testimonials">
<!-- <img src="{% static 'all/img/tub-7.png' %}" alt="Image" class="section-img style2"> -->
<div class="container">
<div class="row mb-50">
<div class="col-xl-6 col-lg-7">
<div class="section-title style2">
<span>TESTIMONIALS</span>
<h2>What Our Customers Say About Us</h2>
</div>
</div>
</div>
<div class="row pos-rel">
<div class="testimonial-slider-wrap">
<div class="testimonial-bg-1 bg-f sm-none"></div>
<div class="testimonial-bg-2 bg-f sm-none"></div>
</div>
<div class="col-xl-6 col-lg-7 col-md-7">
<div class="testimonial-slider-two owl-carousel">
<div class="testimonial-card style3">
<div class="client-img-wrap">
<div class="client-img">
<!-- <img src="{% static 'all/img/testimonials/client-1.jpg' %}" alt="Image"> -->
</div>
<div class="quote-icon">
<i class="flaticon-straight-quotes"></i>
</div>
</div>
<p class="client-quote">
I am very pleased with the response I received from the office personnel. The installer was very personable and answered all of my questions. The electricians were efficient and also took the time to explain the gas regulator to me and what happens when the regulator goes off. They went above and beyond to help me . I really appreciate how pleasant, efficient, and personable everyone was.
</p>
<div class="client-info">
<h4>Mr Francis Prisley <span>Phase 1, Lekki</span></h4>
</div>
</div>
<div class="testimonial-card style3">
<div class="client-img-wrap">
<div class="client-img">
<img src="{% static 'all/img/testimonials/client-2.jpg' %}" alt="Image">
</div>
<div class="quote-icon">
<i class="flaticon-straight-quotes"></i>
</div>
</div>
<p class="client-quote">
Lorem ipsum dolor sit amet consec tetur adipis micing elit. Totam adnon situs accusa ntium animi sapiente laboriosam, eaque mini mas quae itaque veniam. Eligendi suscipit perspic miatis poss imus officiis iste aut ipsum dolor lamet.
</p>
<div class="client-info">
<h4>Robert Hook <span>Bellford, California</span></h4>
</div>
</div>
<div class="testimonial-card style3">
<div class="client-img-wrap">
<div class="client-img">
<img src="{% static 'all/img/testimonials/client-3.jpg' %}" alt="Image">
</div>
<div class="quote-icon">
<i class="flaticon-straight-quotes"></i>
</div>
</div>
<p class="client-quote">
Lorem ipsum dolor sit amet consec tetur adipis micing elit. Totam adnon situs accusa ntium animi sapiente laboriosam, eaque mini mas quae itaque veniam. Eligendi suscipit perspic miatis poss imus officiis iste aut ipsum dolor lamet.
</p>
<div class="client-info">
<h4>Elina Lisa <span>Santiago, Arizona</span></h4>
</div>
</div>
</div>
</div>
</div>
</div>
</section>



<section class="quote-wrap style2 ptb-100" id="contact">
<!-- <img src="{% static 'all/img/tub-7.png' %}" alt="Image" class="section-img style2"> -->
<div class="container">
<div class="row gx-5">
<div class="col-xl-5">
<div class="content-title style2 mb-30">
<span>GET IN TOUCH</span>
<h2>BUENO INDUSTRIES</h2>
</div>
<div class="contact-box-wrap contact-bg-1 bg-f">
<div class="overlay bg-timber-green op-8"></div>
<div class="contact-item">
<span class="contact-icon"><i class="flaticon-placeholder"></i></span>
<div class="contact-info">
<h3>Our Address</h3>
<p>268 Herbert Macaulay Way, Yaba, Lagos, Nigeria</p>
</div>
</div>
<div class="contact-item">
<span class="contact-icon"><i class="flaticon-phone"></i></span>
<div class="contact-info">
<h3>Our Phone</h3>
<a href="tel:1232031230606">+234-01-4545562</a>
<a href="tel:8882201230606">0915-8900000</a>
</div>
</div>
<div class="contact-item">
<span class="contact-icon"><i class="flaticon-email-2"></i></span>
<div class="contact-info">
<h3>Our Email</h3>
<a href="mail:sales@bueno.com.ng"><span class="__cf_email__" data-cfemail="d2bab7bebebd92b5a7a8b7fcb1bdbf">sales@bueno.com.ng</span></a>
<a href="mail:info@bueno.com.ng"><span class="__cf_email__" data-cfemail="e89b9d9898879a9ca88f9d928dc68b8785">info@bueno.com.ng</span></a>
</div>
</div>
</div>
</div>
<div class="col-xl-7">
<form action="#" class="quote-form">
<div class="content-title style1 mb-30">
<h2>Get A Quote</h2>
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label for="name">Name*</label>
<input type="text" name="name" id="name">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label for="phone">Phone</label>
<input type="text" name="phone" id="phone">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label for="email">Email Address</label>
<input type="email" name="email" id="email">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label for="services">Services*</label>
<select name="services" id="services">
<option>Choose Services</option>
 <option value="1">Landscaping</option>
<option value="2">Pruning Plants</option>
<option value="3">Commercial Gardening</option>
</select>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<label for="quote_msg">Your Message</label>
<textarea name="quote_msg" id="quote_msg" cols="30" rows="10"></textarea>
</div>
</div>
<div class="col-lg-12">
<button type="submit" class="btn style1">Send Message<i class="flaticon-paper-plane"></i></button>
</div>
</div>
</form>
</div>
</div>
</div>
</section>


<div class="newsletter-box newslettr-bg-1 bg-f ptb-100" id="sub">
<div class="container">
<div class="row">
<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
<div class="content-title style2 text-center mb-25">
<h2 class="text-white">Sign Up To Newsletter</h2>
<p class="text-white">Sign up and get all the latest infos about bueno and services.</p>
</div>
<form action="#" class="newsletter-form">
<input type="email" placeholder="Enter Your Email Address">
<button type="submit">Subscribe Now <i class="flaticon-paper-plane"></i></button>
</form>
</div>
</div>
</div>
</div>


<section class="blog-wrap pt-100 pb-100" id="future">
<!-- <img src="{% static 'all/img/tub-8.png' %}" alt="Image" class="section-img style1"> -->
<div class="container">
<div class="row align-items-center  mb-50">
<div class="col-xl-8 col-lg-7 col-md-7">
<div class="section-title style2">
<span>OUR FUTURES &amp; GUIDS</span>
<h2>All Futures &amp; Tips</h2>
</div>
</div>
<div class="col-xl-4 col-lg-5 col-md-5 text-end sm-none">
<p class="mb-0 mt-25">Let's Go Green Together <a href="/" class="link style1">View More <i class="flaticon-right-arrow-1"></i></a></p>
</div>
</div>
<div class="blog-slider-one owl-carousel">
<div class="blog-card style3">
<div class="blog-img">
<img src="{% static 'all/img/blog/blog-1.jpg' %}" alt="Image">
</div>
<div class="blog-info">
<!-- <ul class="blog-metainfo  list-style">
<li><i class="flaticon-calendar"></i><a href="posts-by-date.html">Oct 01, 2021</a></li>
<li><i class="flaticon-chat-1"></i>No Comment</li>
</ul> -->
<h6><a href="blog-details-right-sidebar.html">Trouble free service throughout / Sturdy Design / ISI marked /Explosive approved.</a></h6>
<!-- <a href="blog-details-right-sidebar.html" class="btn style4">Learn More
<span><i class="flaticon-right-arrow-1"></i></span> -->
</a>
</div>
</div>
<div class="blog-card style3">
<div class="blog-img">
<img src="{% static 'all/img/blog/blog-2.jpg' %}" alt="Image">
</div>
<div class="blog-info">
<!-- <ul class="blog-metainfo  list-style">
<li><i class="flaticon-calendar"></i><a href="posts-by-date.html">Sep 22, 2021</a></li>
<li><i class="flaticon-chat-1"></i>1 Comment</li>
</ul> -->
<h6><a href="blog-details-right-sidebar.html"> Each piece Tested &Calibrated in Sophisticated 
Laboratory.</a></h6>
<!-- <a href="blog-details-right-sidebar.html" class="btn style4">Learn More
<span><i class="flaticon-right-arrow-1"></i></span> -->
</a>
</div>
</div>
<div class="blog-card style3">
<div class="blog-img">
<img src="{% static 'all/img/blog/blog-3.jpg' %}" alt="Image">
</div>
<div class="blog-info">
<!-- <ul class="blog-metainfo  list-style">
<li><i class="flaticon-calendar"></i><a href="posts-by-date.html">Sep 15, 2021</a></li>
<li><i class="flaticon-chat-1"></i>No Comment</li>
</ul> -->
<h6><a href="blog-details-right-sidebar.html">Manufactured under stringent Quality control 
parameters by an ISO 9001-2015 company.</a></h6>
<!-- <a href="blog-details-right-sidebar.html" class="btn style4">Learn More
<span><i class="flaticon-right-arrow-1"></i></span> -->
</a>
</div>
</div>
<div class="blog-card style3">
<div class="blog-img">
<img src="{% static 'all/img/blog/blog-4.jpg' %}" alt="Image">
</div>
<div class="blog-info">
<!-- <ul class="blog-metainfo  list-style">
<li><i class="flaticon-calendar"></i><a href="posts-by-date.html">Sep 05, 2021</a></li>
<li><i class="flaticon-chat-1"></i>2 Comments</li>
</ul> -->
<h6><a href="blog-details-right-sidebar.html">Superior Technology-LPG Regulator 
Capable of controlling flow of Liquified Petroleum 
Gas under variable Pressure.</a></h6>
<!-- <a href="blog-details-right-sidebar.html" class="btn style4">Learn More
<span><i class="flaticon-right-arrow-1"></i></span> -->
</a>
</div>
</div>
</div>
</div>
</section>


<footer class="footer-wrap bg-spring-wood">
<div class="footer-shape-1"></div>
<!-- <img src="{% static 'all/img/tub-5.png' %}" alt="Image" class="footer-shape-2 lg-none"> -->
<div class="footer-top">
<div class="container">
<div class="row pt-100 pb-75">
<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
<div class="footer-widget">
<a href="index.html" class="footer-logo">
<img src="{% static 'all/img/logo-black.png' %}" alt="Image">
</a>
<p class="comp-desc">
BUENO INDUSTRIES LIMITED is a Powerhouse International Limited wholly owned indigenous company. Our areas of business interests include Gas, Energy, Power and Manufacturing and Distribution of related products.</p>
<div class="social-link">
<h6>Follow Us:</h6>
<ul class="social-profile list-style style1">
<li>
<a target="_blank" href="https://facebook.com/">
<i class="ri-facebook-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://twitter.com/">
<i class="ri-twitter-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://linkedin.com/">
<i class="ri-linkedin-fill"></i>
</a>
</li>
<li>
<a target="_blank" href="https://pinterest.com/">
<i class="ri-pinterest-fill"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
<div class="footer-widget">
<h3 class="footer-widget-title">Company</h3>
<ul class="footer-menu list-style">
<li>
<a href="#about" target="_blank">
<i class="ri-arrow-right-s-fill"></i>
About Us
</a>
</li>
<li>
<a href="#service" target="_blank">
<i class="ri-arrow-right-s-fill"></i>
Our Service
</a>
</li>
<li>
<a href="#team" target="_blank">
<i class="ri-arrow-right-s-fill"></i>
Our Team
</a>
</li>
<li>
<a href="#sub" target="_blank">
<i class="ri-arrow-right-s-fill"></i>
Get A Quote
</a>
 </li>
<li>
<a href="blog-left-sidebar.html" target="_blank">
<i class="ri-arrow-right-s-fill"></i>
Latest News
</a>
</li>
<li>
<a href="#testimonials" >
<i class="ri-arrow-right-s-fill"></i>
Testimonials
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 ps-xl-5">
<div class="footer-widget">
<h3 class="footer-widget-title">Services</h3>
<ul class="footer-menu list-style">
<li>
<a href="#service" >
<i class="ri-arrow-right-s-fill"></i>
Gas Cylinder
</a>
</li>
<li>
<a href="#service">
<i class="ri-arrow-right-s-fill"></i>
Power
</a>
</li>
<li>
<a href="#service">
<i class="ri-arrow-right-s-fill"></i>
Energy
</a>
</li>
<li>
<a href="#service">
<i class="ri-arrow-right-s-fill"></i>
Package
</a>
</li>
<li>
<a href="#service">
<i class="ri-arrow-right-s-fill"></i>
regulator
</a>
</li>
<li>
<a href="#service">
<i class="ri-arrow-right-s-fill"></i>
Gas
</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
<div class="footer-widget">
<h3 class="footer-widget-title">Get In Touch</h3>
<ul class="contact-info list-style">
<li>
<i class="flaticon-maps-and-flags"></i>
 <h6>Location</h6>
<p>268 Herbert Macaulay Way, Yaba, Lagos, Nigeria</p>
</li>
<li>
<i class="flaticon-email-2"></i>
<h6>Email</h6>
<a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#cfa6a1a9a08fa8bab5aae1aca0a2"><span class="__cf_email__" data-cfemail="b4dddad2dbf4d3c1ced19ad7dbd9">sales@bueno.com.ng</span></a>
</li>
<li>
<i class="flaticon-call"></i>
<h6>Phone</h6>
<a href="tel:+234-01-4545562">+234-01-4545562</a>
<a href="tel:+0915-8900000">0915-8900000</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-7">
<p class="copyright-text">
<i class="ri-copyright-line"></i>2021 <a href="/">bueno</a>. All Rights Reserved <!-- By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a> -->
</p>
</div>
<div class="col-lg-6 col-md-5">
<ul class="footer-bottom-menu list-style">
<li><a target="_blank" href="/">Terms &amp; Conditions</a></li>
<li><a target="_blank" href="/">Privacy Policy</a></li>
</ul>
</div>
</div>
</div>
</div>
</footer>

</div>


<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>


<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'all/js/jquery.min.js' %}"></script>
<script src="{% static 'all/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'all/js/form-validator.min.js' %}"></script>
<script src="{% static 'all/js/contact-form-script.js' %}"></script>
<script src="{% static 'all/js/aos.js' %}"></script>
<script src="{% static 'all/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'all/js/swiper-min.js' %}"></script>
<script src="{% static 'all/js/jquery-magnific-popup.js' %}"></script>
<script src="{% static 'all/js/fancybox.js' %}"></script>
<script src="{% static 'all/js/odometer.min.js' %}"></script>
<script src="{% static 'all/js/circle-progressbar.js' %}"></script>
<script src="{% static 'all/js/progressbar.min.js' %}"></script>
<script src="{% static 'all/js/jquery.appear.js' %}"></script>
<script src="{% static 'all/js/tweenmax.min.js' %}"></script>
<script src="{% static 'all/js/main.js' %}"></script>
</body>
</html>