{% include 'base.html' %}

{% block content %}
<div class="app-content">
					<div class="side-app">

						<div class="page-header">

							
						<div>
							<h1 class="page-title">ALL USERS</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Users</a></li>
								<li class="breadcrumb-item active" aria-current="page">Users Table</li>
							</ol>
						</div>

											<div class="d-flex  ms-auto header-right-icons header-search-icon">
								<div class="dropdown d-sm-flex">
									<a href="#" class="nav-link icon" data-bs-toggle="dropdown">
										<i class="fe fe-search"></i>
									</a>
									<div class="dropdown-menu header-search dropdown-menu-start">
										<div class="input-group w-100 p-2">
											<input type="text" class="form-control " placeholder="Search....">
											<div class=" ">
												<button type="button" class="btn btn-primary ">
													<i class="fa fa-search" aria-hidden="true"></i>
												</button>
											</div>
										</div>
									</div>
								</div><!-- SEARCH -->
								<div class="dropdown d-md-flex">
									<a class="nav-link icon full-screen-link nav-link-bg">
										<i class="fe fe-maximize fullscreen-button"></i>
									</a>
								</div><!-- FULL-SCREEN -->
								
								<div class="dropdown profile-1">
									<a href="#" data-bs-toggle="dropdown" class="nav-link pe-2 leading-none d-flex">
										<span>
											<img src="{{user.profile.image.url}}" alt="profile-user" class="avatar  profile-user brround cover-image">
										</span>
									</a>
									<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<div class="drop-heading">
											<div class="text-center">
												<h5 class="text-dark mb-0">{{user.first_name}} {{user.last_name}}</h5>
												<small class="text-muted">{{user.username}}</small>
											</div>
										</div>
										<div class="dropdown-divider m-0"></div>
										<a class="dropdown-item" href="/profile">
											<i class="dropdown-icon mdi mdi-account-outline"></i> Profile
										</a>
										<a class="dropdown-item" href="editprofile.html">
											<i class="dropdown-icon  mdi mdi-settings"></i> Settings
										</a>
										
										<div class="dropdown-divider"></div>
										
										<a class="dropdown-item" href="/login">
											<i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
										</a>
									</div>
								</div>
								<div class="dropdown d-md-flex header-settings">
									<a href="#" class="nav-link icon " data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
										<i class="fe fe-align-right"></i>
									</a>
								</div><!-- SIDE-MENU -->
							</div>
						</div>

						<div class="row row-cards row-deck">
						<div class="col-xs-12 col-sm-12 col-lg-12">
							<div class="card">
								<div class="card-header ">
									<h3 class="card-title">ALL Users </h3>
								</div>
								<div class="card-body">
									<div class="table-responsive ">
										<table class="users table card-table border table-striped table-vcenter text-nowrap mb-0">
											<thead>
												<tr>
													<th>Username</th>
													<th>Profile pic</th>
													<th>Full Name</th>
													<th>Email</th>
													
													<th>Date / Time Joined</th>
													<th>All Control</th>
													<th>Action</th>
													{% if request.user.is_superuser %}
													<th>Access Control</th>
														{% else %}

													{% endif %}
												</tr>
											</thead>
											<tbody>
												{% for i in name %}
												<tr>
												
													<td>{{i.username}}</td>
													<td><img src="{{i.profile.image.url}}" alt="profile-user" class="brround  avatar-sm w-32"></td>
													<td>{{i.first_name}} {{i.last_name}}</td>
													<td>{{i.email}} </td>
													<td class="text-nowrap">{{i.date_joined}}</td>
													<td class="text-nowrap">{{i.is_superuser}}</td>
													<td class="w-1"><a href="/user_delete/{{ i.id }}"><button type="button" class="btn btn-icon  btn-danger"><i class="fa fa-trash-o"></i></button></a></td>
													{% if request.user.is_superuser %}
														<td class="w-1"><a href="/Access-control/{{ i.id }}"><button type="button" class="btn btn-icon  btn-secondary"><i class="fa fa-edith"></i> Give Access</button></a></td>
													{% else %}

													{% endif %}
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div><!-- COL END -->
					</div>
						
                
                    </div>
				</div>
				{% endblock content %}